<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="ContactController as c">
            <ul>
                <li>
                  <li ng-repeat="contact in c.contacts">
                    <h4>Contact Name: <input ng-model="contact.name" /></h4>
                    <h6>Phone Number <input ng-model="contact.phone" /></h6>
                  </li>
                </li>
            </ul>

            <button ng-click="c.addContact()">Add Contact</button>

        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>

</body>
</html>
